@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Reenie";
  src: url("/src/font/ReenieBeanie-Regular.ttf");
}

@font-face {
  font-family: "Ubuntu";
  src: url("/src/font/Ubuntu-Regular.ttf");
}

@font-face {
  font-family: "Carter";
  src: url("/src/font/CarterOne-Regular.ttf");
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
}

.btn {
  @apply bg-navy hover:bg-purple text-white font-bold py-2 px-5 rounded hover:text-amber-300
}

/* .btn-light {
  @apply bg-light-blue hover:bg-blue text-white font-bold py-2 px-4 rounded
} */
.screen-hide-text {
  @apply hidden sm:hidden md:inline-block lg:inline-block 
}

.screen-pd-size {
  @apply sm:px-1 md:px-2 lg:px-3
}

.screen-text-size {
  @apply text-base sm:text-base md:text-lg lg:text-lg ease-in-out duration-300
}

.form-input {
  @apply rounded shadow appearance-none border  w-full py-2 px-3 text-gray-700 leading-tight
}